apiVersion: v1
kind: Service
metadata:
  name: mysql-service
  labels:
    app: mysql
spec:
  # externalTrafficPolicy: Cluster # comment out this to use ingress instead of service
  # type: LoadBalancer # use extenal IP
  type: NodePort # use NAT inside k8s
  selector:
    app: mysql
  ports:
    - protocol: TCP
      port: 3306
      targetPort: 3306 # front-end: Note: A Service can map any incoming port to a targetPort. By default and for convenience, the targetPort is set to the same value as the port field

# http://$aminer_uri/adminer?server=mysql-service%3A3306&username=root